---
const {
  title = 'bundlejs - Online bundler + npm package bundle size checker',
  description = 'A quick and easy way to bundle, minify, and compress (gzip and brotli) your ts, js, jsx and npm projects all online, while viewing the file size of the final bundle.',
  keywords = "bundle js, bundle npm packages, bundle size checker, online bundler, treeshake bundles"
} = Astro?.props;
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{title}</title>
<meta name="title" property="og:title" content={title} />
<meta name="twitter:title" itemprop="name" content={title} />
<meta name="apple-mobile-web-app-title" content={title} />

<meta name="description" property="og:description" content={description} />
<meta property="twitter:description" itemprop="description" content={description} />

<meta name="keywords" content={keywords} />

<meta name="og:locale" content="en_Us" />
<meta property="og:type" content="website" />

<meta name="web-author" content="Okiki Ojo" />
<meta property="article:author" content="Okiki Ojo" />
<meta name="contact" content="hey@okikio.dev" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:image:alt" content="An image of bundlejs's logo." />

<meta name="twitter:site" content="@jsbundle" />
<meta name="twitter:creator" content="@okikio_dev" />

<meta property="image" content={Astro.site.origin.toString() + "/favicon/social-preview.png" } />
<meta property="og:image" content={Astro.site.origin.toString() + "/favicon/social-preview.png" } />
<meta name="twitter:image" content={Astro.site.origin.toString() + "/favicon/social-preview.png" } />

<meta name="twitter:url" property="og:site_name" content={Astro.site.origin.toString()} />

<link rel="canonical" href={Astro.request.url.toString()} />
<meta itemprop="url" content={Astro.request.url.toString()} />
<meta name="shortlink" content={Astro.request.url.toString()} />
<meta property="og:url" content={Astro.request.url.toString()} />

<link rel="search" href={Astro.site.origin.toString() + "/open-search.xml" }
  type="application/opensearchdescription+xml" title="bundlejs">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#3b82f6">
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
<link rel="shortcut icon" href="/favicon/favicon.ico">

<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="dark light">

<link rel="manifest" href="/manifest.json">
<meta name="robots" content="index, follow">

<meta name="msvalidate.01" content="172CC0D862133254CEF11D5624943FB0">
<meta name="google-site-verification" content="S-6kBX5nZdh8ykHtFVIwp38pwSwX0AgYGWV0o-m3pBY">
<meta name="google-site-verification" content="-uCBVPddJYYe5bf7vg2nM14KhGtfzcHA432Eu6ebAeQ">

<link href="https://twitter.com/jsbundle" rel="me" />
<link rel="webmention" href="https://webmention.io/bundlejs.com/webmention" />
<link rel="pingback" href="https://webmention.io/bundlejs.com/xmlrpc" />
<link rel="pingback" href="https://webmention.io/webmention?forward=https://bundlejs.com/endpoint" />

<!-- Theme set-->
<script>
  import "../scripts/theme.ts";
</script>

<script type="application/ld+json" set:html={JSON.stringify({ "@context" :"https://schema.org", "@graph" :[ { "@type"
  :"Organization", "@id" : Astro.site.origin.toString() + "/#organization" , "name" : "bundlejs" , "url" :
  Astro.site.origin.toString(), "sameAs" : [ Astro.site.origin.toString(), "https://www.producthunt.com/posts/bundle-6"
  , "https://bundlejs.com" , "https://bundlesize.com" , "https://bundle.js.org" , "https://github.com/okikio/bundle"
  , "https://okikio.github.io/bundle" , "https://opencollective.com/bundle" , "https://bestofjs.org/projects/bundle"
  , "https://www.saashub.com/bundlejs-alternatives" , "https://alternativeto.net/software/bundle"
  , "https://www.opensourcealternative.to/project/Bundlejs" ], "description" :description, "logo" :{ "name"
  :"bundle", "@type" :"ImageObject", "@id" :Astro.site.origin.toString() +"/#logo", "url" :Astro.site.origin.toString()
  + "/favicon/android-chrome-512x512.png" , "width" :512, "height" :512, "caption" :"bundlejs's logo" }, "contactPoint"
  :[ { "@type" :"ContactPoint", "url" :Astro.site.origin.toString(), "email" :"mailto:hey@okikio.dev", "contactType"
  :"customer service" } ] }, { "@type" :"WebSite", "@id" :Astro.site.origin.toString() + "/#website" , "url"
  :Astro.site.origin.toString(), "description" :description, "logo" :{ "name" :"bundlejs", "@type" :"ImageObject", "@id"
  :Astro.site.origin.toString() + "/#logo" , "url" :Astro.site.origin.toString() + "/favicon/android-chrome-512x512.png"
  , "width" :512, "height" :512, "caption" :"bundlejs's logo" }, "contactPoint" :[ { "@type" :"ContactPoint", "url"
  :Astro.site.origin.toString(), "email" :"mailto:hey@okikio.dev", "contactType" :"customer service" } ], "sameAs" :[
  Astro.site.origin.toString(), "https://www.producthunt.com/posts/bundle-6" , "https://bundlejs.com"
  , "https://bundlesize.com" , "https://bundle.js.org" , "https://github.com/okikio/bundle"
  , "https://okikio.github.io/bundle" , "https://opencollective.com/bundle" , "https://bestofjs.org/projects/bundle"
  , "https://www.saashub.com/bundlejs-alternatives" , "https://alternativeto.net/software/bundle"
  , "https://www.opensourcealternative.to/project/Bundlejs" ], "mainEntityOfPage" :{ "@type" :"WebPage", "@id"
  :Astro.site.origin.toString() + "/index.html#main" , "lastReviewed" :"Sun June 05 2022 16:00:00 GMT-0400" }, "about"
  :{ "@id" :Astro.site.origin.toString() + "/about.html" }, "name" :"bundlejs", "publisher" :{ "@id"
  :"https://okikio.dev" }, "copyrightYear" :"2022", "copyrightHolder" :[ { "@id" :"https://okikio.dev" } ] }, { "@type"
  :"WebPage", "@id" :Astro.request.url.toString() + "#webpage" , "url" :Astro.request.url.toString(), "description"
  :description, "inLanguage" :"en", "name" :title, "isPartOf" :{ "@id" :Astro.site.origin.toString() + "/#website"
  }, "about" :{ "@id" :Astro.site.origin.toString() + "/about.html" } } ] })} />